<section class="final-two">
  {% for block in section.blocks %}
    <div class="final-image" {{ block.shopify_attributes }}>
      {% if block.settings.image != blank %}
        {{ block.settings.image | image_url: width: 2000 | image_tag: loading: 'lazy', class: 'final-image-media', sizes: '(min-width: 768px) 50vw, 100vw' }}
      {% else %}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'final-image-media final-image-media--placeholder' }}
      {% endif %}
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Dual images",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Dual images",
      "blocks": [
        { "type": "image" },
        { "type": "image" }
      ]
    }
  ]
}
{% endschema %}
