/* Error: The target selector was not found.
 * Use "@extend .link-cue !optional" to avoid this error.
 *     ,
 * 408 |   @extend .link-cue;
 *     |   ^^^^^^^^^^^^^^^^^
 *     '
 *   theme.scss 408:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend .link-cue !optional" to avoid this error.\a     \2577 \a 408 \2502    @extend .link-cue;\a     \2502    ^^^^^^^^^^^^^^^^^\a     \2575 \a   theme.scss 408:3  root stylesheet';
}
